<div class="blog">
  <div class="title">
    <h3><%=title%></h3>
    <div class="blog-info">
      <span class="time"><%=new Date(updated_at).toLocaleString()%></span>
      <span class="author">~<%=user_name%></span>
      <%if (pfp){%>
      <img src="data:<%=`${pfp_mime};base64,${pfp}`%>" alt="">
      <%}else{%>
        <img src="/images/default_pfp.svg" alt="">
        <%}%>
    </div>
  </div>
  <hr />
  <div class="content-wrapper">
    <div class="content"><%-content%></div>
  </div>
  <a class="u-full-width read-more" href=<%=`${edit?"/edit/"+id:"/blog/"+blog_id}`%>
    > 
    <%=`${edit?"Edit":"Read More..."}`%>   
  </a>
</div>
