<div class="blog">
  <div class="title">
    <h3><%=title%></h3>
    <div class="blog-info">
      <span class="time"><%=updated_at%></span>
      <span class="author">~<%=user_name%></span>
    </div>
  </div>
  <hr />
  <div class="content-wrapper">
    <div class="content"><%-content%></div>
  </div>
  <a class="u-full-width read-more" href="/blog/<%=blog_id%>">
    Read More...
  </a>
</div>
