<%- include("partials/head.ejs", {title:`Blog ${blog.title}`,css_links:[
"/css/blog.css","https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
]}) %>
<%-include("partials/navbar.ejs",{user})%>
<body>
    <div class="blog">
        <div class="title">
            <h2><%=blog.title%></h2>
            <div class="blog-info">
                <span class="time"><%=new Date(blog.updated_at).toLocaleString()%></span>
                <span class="author">
                    By <%=blog.user_name%>
                </span>
            </div>
        </div>
        <hr />
        <div class="content-wrapper">
            <div class="content"><%-blog.content%></div>
        </div>
    </div>
</div>
</body>


<%- include('partials/footer.ejs') %>
