<%- include("partials/head.ejs", {title: blog.title,css_links:[
"/css/blog.css","https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
]}) %>
<%-include("partials/navbar.ejs",{user})%>
<body>
    <div class="blog">
        <div class="title">
            <h2><%=blog.title%></h2>
            <div class="blog-info">
                <span class="time"><%=new Date(blog.updated_at).toLocaleString()%></span>
                <span class="author">
                    By <%=blog.user_name%>
                </span>
                <%if (blog.pfp){%>
                    <img src="data:<%=`${blog.pfp_mime};base64,${blog.pfp}`%>" alt="">
                    <%}else{%>
                      <img src="/images/default_pfp.svg" alt="">
                      <%}%>
            </div>
        </div>
        <%if (blog.about){%>
        <div class="about">
            <%=blog.about%>
        </div>
        <%}%>
        <hr />
        <div class="content-wrapper">
            <div class="content"><%-blog.content%></div>
        </div>
    </div>
</div>
</body>


<%- include('partials/footer.ejs') %>
