  <%- include("partials/head.ejs",{title:"BasicBlog", css_links:[
    "css/index.css","css/blog_card.css"
  ]}); 
  
  %>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="blog-wrapper">
      <%- include("partials/blog.ejs") %> <%- include("partials/blog.ejs") %>
      <%- include("partials/blog.ejs") %> <%- include("partials/blog.ejs") %>
      <%- include("partials/blog.ejs") %> <%- include("partials/blog.ejs") %>
      <%- include("partials/blog.ejs") %>
    </div>
  </div>

    <script>
      if (!localStorage.getItem("user")) {
        const user = "<%=user%>";
        localStorage.setItem("user", user);
      }
      const query = window.location.search
      const params = new URLSearchParams(query)
      const logout = params.get("logout")
      if(logout){
        localStorage.removeItem("user")
        window.location.replace("/")
      }
    </script>
    <%- include("partials/footer.ejs") %>

