  <%- include("partials/head.ejs",{title:"BasicBlog", css_links:[
    "css/index.css","css/blog_card.css"
  ]}); 
  
  %>
  <body>
    <%- include("partials/navbar.ejs", {user}) %>
    <div class="blog-wrapper">
      <%- include("partials/blog.ejs") %> <%- include("partials/blog.ejs") %>
      <%- include("partials/blog.ejs") %> <%- include("partials/blog.ejs") %>
      <%- include("partials/blog.ejs") %> <%- include("partials/blog.ejs") %>
      <%- include("partials/blog.ejs") %>
    </div>
  </div>

    <script>

    </script>
    <%- include("partials/footer.ejs") %>

